language: python

jobs:
  include:
    - stage: lint
      python: 3.7
      script: poetry run black --check tests/ lambdarest/
    - stage: python 3.7 pytest
      python: 3.7
    - stage: python 3.8 pytest
      python: 3.8
    - stage: python 3.9 pytest
      python: 3.9
    - stage: python 3.10 pytest
      python: 3.10

cache: pip

before_install:
  - pip install --upgrade pip
  - pip install poetry

install:
  - poetry config virtualenvs.create false
  - poetry install --verbose

script:
  - poetry run task test

notifications:
  email: false
