sudo: required

language: python

matrix:
  include:
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36
    - python: 3.7
      env: TOXENV=py37
    - python: 3.8
      env: TOXENV=py38

install:
- pip install -U pip
- pip install tox==3.14.3 tox-travis==0.12

script:
- tox

branches:
  only: master

after_success:
- git config --global user.email "travis@travis-ci.org"
- git config --global user.name "Travis"
- git tag -a v$(python setup.py --version) -m "Travis build $TRAVIS_BUILD_NUMBER pushed
  a tag."
- git push origin --tags
- git fetch origin

deploy:
  - provider: releases
    skip_cleanup: true
    api-key:
      secure: C/0JgRfwaHyRdmHL3Soxo5xVuMiJFxG9MkuquElqvtBuO+Lwm+3NW0vDuGI53tHgcMHFbegzkI3bh2xFj284BgmL42oCUImpmoFZnx3TlYTCP+ya64Y2uyNjFLHOC2Vtfuhd8mM1+E8e8w1q01YpS3HmpX1wUz4OGewfhqWrBh0JdqxE5p96RaY45BEXClzjz4SQF0+TnRKyHP4w22U1AnG8w5TEZWGztWxc1/aTPh+hnLM3e9JudlOXJfM8WYR1oNHmmlM2HyWN2NJoLke98X8L0PfavDqAOU1xd3fIpLXUun6fXLQ/hQOL22xo9lK0oAB+fzoJ94lObL0xCZu0VuqUZ9HWkQkhgkleqTj+ClE+5jZ+RkjLklTBAcvsBtj9nhjkt5WDD1UsE+n3ILMtwrWz+g1Gv9HDB1eg2PIzQsFfYuYh6cUbgb0O/bZ8TQ3mClJt0yThwJe5DFvKEvciF1dH/Wy4bFgr90E0XfJc4HESJAfqnEmDLCS9IQNmEPC/e79skAECv11jp7hzGBTkXPUpbIlUPqxYpqq3Js2e1b2OWjVuTFH7yTHfyjkoNbAxV4Uy1gRj6/hfWM5G9QfopYELWYDpQ07O16t2tPQuG4uqWBDmgWX3JwRZDn7jRx9pl7MrHVsi/Dm7+atsNc4jhJbx+wbaAKSdbHKiso552Vk=
    file_glob: true
    file: dist/*
    on:
      tags: false
      branch: master
      repo: trustpilot/python-lambdarest
      condition: $TRAVIS_PYTHON_VERSION = "3.7"

